.gallery {
  padding: 20px;
  height: 1660px;
  width: 320px;
  background-color: #ffffff;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;

  .gallery__list {
    list-style: none;
  }
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px #e5e5e5;
  border-bottom: 1px #e5e5e5;
}

.gallery__image {}

.gallery__sublist {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery__sublist-item {
  text-align: left;
}

.gallery__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.gallery__text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.gallery__assessment {
  display: flex;
  flex-wrap: nowrap;
}
