.video {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  width: 320px;
  background-color: #ffffff;
}

.video__intro {
  display: flex;
  flex-wrap: wrap;
  padding: 43px;
  text-transform: uppercase;
  color: #000000;

  .video__intro-title {
    font-size: 18px;
    font-weight: 700;
  }

  .video__intro-text {
    font-size: 14px;
    font-weight: 400;
  }
}

.video-screen {

}

.video__image {
  height: 200px;
  width: 320px;
  background-image: url("../img/video-mobile@1x.jpg");
}

.video__controles {
  display: flex;
  flex-wrap: wrap;
}

.video__timeline {

}

.video__drag {

}

.video__wrapper-controls {
  display: flex;
  flex-wrap: wrap;
}

.video__control-item {

}
