.features__list {
  background-color: $white;
}

.features__sublist {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
  padding-bottom: 43px;
}

.features__info {
  padding: 47px 27px;
  background-color: $primary-color;
  color: $white;
  text-transform: uppercase;

  h2 {
    @include font-set(21px, 26px, 700);
    color: $white;
  }

  p {
    color: $white;
    text-transform: uppercase;
  }
}

.features__text {
  @include font-set(14px, 21px, 400);
  color: $black;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  color: $black;

  .features__wrapper {
    background-color: $secondary-color;
    text-transform: uppercase;
    text-align: center;
  }
}

.features__bridge {
  background-color: $primary-color;

  h3 {
    @include font-set(18px, 26px, 700);
  }
}

.features__title {
  @include font-set(18px, 26px, 700);
  color: $black;
}
