.gallery {
  padding: 20px;
  height: 1660px;
  width: 320px;
  background-color: $white;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;

  .gallery__list {
    list-style: none;
  }
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px #e5e5e5;
  border-bottom: 1px #e5e5e5;
}

.gallery__open-spaces {
  margin: 22px;
  height: 280px;
  width: 280px;
  background-image: url(../img/photo-sunset-mobile@1x.jpg);
}

.gallery__native-vegetation {
  margin: 22px;
  height: 280px;
  width: 280px;
  background-image: url(../img/photo-cactus-mobile@1x.jpg);
}

.gallery__road-north {
  margin: 22px;
  height: 280px;
  width: 280px;
  background-image: url(../img/photo-roads-mobile@1x.jpg);
}

.gallery__devels-bridge {
  margin: 22px;
  height: 280px;
  width: 280px;
  background-image: url(../img/photo-bridge-mobile@1x.jpg);
}

.gallery__sublist {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery__sublist-item {
  text-align: left;
}

.gallery__title {
  @include font-set(14px, 21px, 700);
  text-transform: uppercase;
  color: $black;
}

.gallery__text {
  @include font-set(14px, 21px, 700);
  color: $black;
}

.gallery__assessment {
  display: flex;
  flex-wrap: nowrap;
}
