.gallery {
  padding: 20px;
  background-color: $white;
}

.gallery__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px #e5e5e5;
  border-bottom: 1px #e5e5e5;
}

.gallery__info {
  margin: 22px;
}

.gallery__caption {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery__caption-item {
  text-align: left;
}

.gallery__title {
  @include font-set(14px, 21px, 700);
  text-transform: uppercase;
}

.gallery__text {
  @include font-set(14px, 21px, 700);
}

.gallery__assessment {
  display: flex;
  flex-wrap: nowrap;
}

.gallery__assessment-button {
  @include button-throw;
}
