.intro {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.intro__image {
  width: 300px;
  height: auto;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    width: 460px;
    height: auto;
  }
}
