.intro__image {
  width: 230px;
  height: auto;
  padding-top: 35px;
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &--short {
    @media (min-width: $tablet-width) {
      width: 460px;
      height: 230px;
    }
  }
}
