.intro__image {
  width: 281px;
  height: auto;
  padding-top: 35px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 60%;
    height: auto;
    padding-top: 21px;
    padding-bottom: 32px;
  }

  &--short {
    width: 230px;
    height: auto;
    padding-top: 35px;
    padding-bottom: 53px;
    @media (min-width: $tablet-width) {
      width: 230px;
      height: auto;
      padding-top: 35px;
      padding-bottom: 53px;
    }
  }
}
