.lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 33px 10px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    padding: 33px 165px;
  }
}

.lead__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-set(30px, 26px, 700);
    padding-left: 170px;
    padding-right: 170px;
  }
}

.lead__text {
  @include font-set(14px, 26px, 400);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 215px;
    padding-right: 215px;
  }
}
