.lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 27px 12px;
  background-color: $white;

  &--form {
    padding: 51px 0 76px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 51px 20px 72px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 165px;
  }
}

.lead__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-set(31px, 34px, 700);
    width: 70%;
  }
}

.lead__text {
  @include font-set(14px, 26px, 400);
  text-transform: uppercase;
  text-align: center;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 0;
  }
}
