.lead {
  display: flex;
  flex-wrap: wrap;
  padding-left: 33px;
  padding-right: 33px;
  height: 240px;
  width: 320px;
  background-color: $white;
  color: $black;
}

.lead__title {
  @include font-set(14px, 26px, 400);
  color: $black;
}

.lead__text {
  @include font-set(14px, 26px, 400);
  color: $black;
}
