.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo__logo-image {
  left: 50%;
  top: 10%;

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translateY(-50%);
  }
}
