.main-nav {
  @include font-set(18px, 40px, 700);
  color: $white;
  background-color: $primary-color;
}

.main-nav__close {
  color: $white;
}

.main-nav__list {
  list-style: none;
  text-transform: uppercase;

  a {
    color: $white;
    list-style: none;
  }
}

.site-list__item {
  li {
    background-color: $primary-color;
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.site-list__item--active {
  background-color: $primary-color;
  color: rgba(255, 255, 255, 0.3);
}
