.main-nav {
  @include font-set(18px, 40px, 700);
  color: $white;
  background-color: $primary-color;
}

.main-nav__close {
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
}

.main-nav__list {
  @include list-reset;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

a {
  color: $white;
}

.site-list__item {
  border: 1px solid $grey;
}

.site-list__item--active {
  background-color: $primary-color;
  color: rgba(255, 255, 255, 0.3);
}
