.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: $white;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  padding-left: 110px;
  z-index: 0;
}

.page-header__menu-button {
  @include button-throw;
  margin-left: 65px;
  margin-top: 15px;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
}

.page-header__intro {
  padding-left: 17px;
  width: 100%;
  height: 160px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
}
