.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: $white;
  align-items: center;
  padding-top: 12px;

  &--form {
    padding-top: 50px;
    @media (min-width: $tablet-width) {
      padding-top: 28px;
    }
  }

  &--photo {
    padding-top: 48px;
    @media (min-width: $tablet-width) {
      padding-top: 58px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 auto;
  }
}

.page-footer__hashtag {
  @include font-set(21px, 26px, 700);
  text-transform: uppercase;
}

.page-footer__list__page-wrapper {
  @include list-reset;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
}

.page-footer__copyright {
  @include font-set(14px, 26px, 400);
  display: flex;
  padding-bottom: 8px;
  align-items: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
