.page-footer {
  margin-top: 40px;
  padding-top: 40px;
  background-color: $white;
}

.page-footer__hashtag {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
}

.page-footer__list {
  @include list-reset;
  display: flex;
  list-style: none;
}

.page-footer__copyright {
  @include font-set(14px, 21px, 400);
}
