.page-footer {
  display: flex;
  flex-wrap: wrap;
  height: 245px;
  width: 320px;
  background-color: $secondary-color;

  .hashtag {
    @include font-set(18px, 26px, 700);
    color: $black;
  }
}

.page-footer__copyright {
  @include font-set(14px, 21px, 400);
  display: flex;
  flex-wrap: nowrap;
  color: $black;

  .copyright__link {
    height: 34px;
    width: 27px;
    background-image: url("../img/htmlacademy.svg");
  }
}
