.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 320px;
  background-color: $white;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 320px;
  height: 82px;
}

.logo {
  margin: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-menu.svg");
}

.page-header__menu-button {
  width: 102px;
  height: 83px;
  background-image: url("../img/logo-sedona-mobile.svg");
}

.page-header__intro {
  width: 320px;
  height: 390px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  .intro__image {
    padding-top: 65px;
    padding-bottom: 90px;
    width: 282px;
    height: 214px;
    background-image: url("../img/text-sedona-index.svg");
  }
}
