.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 320px;
  background-color: $white;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 320px;
  height: 82px;
}

.page-header__menu-button {
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-menu.svg");
}

.page-header__intro {
  width: 320px;
  height: 390px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}
