.review__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 60px;
  }
}

.review__form__page-wrapper {
  @include list-reset;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
}

.review-form__item {
  border: none;

  &--radio {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      width: 50%;
      margin: 0;
      padding: 0;
      order: -2;
    }
  }

  &--checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0;
    border: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 50%;
      margin: 0;
      padding: 0;
      order: -1;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.review-form__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;

  &--radio {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      padding: 0 150px;
      text-align: center;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }
}

.review-form__set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.review-form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.review-form__label {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-form__phone {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-from__input-wrapper {
  width: 58px;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.review-form__input {
  @include font-set(18px, 26px, 700);
  width: 170px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: $secondary-color;
  color: $black;
  border: none;

  &--long {
    width: 210px;
  }

  &--name {
    width: 210px;
  }

  &--phone {
    width: 225px;
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--email {
    width: 225px;
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.review-form__phone-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-phone.svg");
}

.review-form__email {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-form__email-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-email.svg");
}

.review-form__label-radio {
  @include font-set(18px, 26px, 700);
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;
  cursor: pointer;
}

.review-form__label-radio::after {
  content: "";
  left: 0;
  cursor: pointer;
}

.review-form__radio:checked + label::after {
  display: block;
  position: absolute;
  background-color: $black;
  background-repeat: no-repeat;
  border: 16px solid $secondary-color;
  border-radius: 50px;
}

.review-form__checkbox:checked + label::after {
  display: block;
  position: absolute;
  height: 46px;
  width: 46px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-color: $secondary-color;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.review-form__label-check {
  @include font-set(18px, 26px, 700);
  position: relative;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-top: 22px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40%;
  }
}

.review-form__label-check::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  height: 46px;
  width: 46px;
  background-color: $secondary-color;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.review-form__textarea {
  @include font-set(18px, 26px, 700);
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 140px;
  width: 270px;
  background-color: $secondary-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.review-form__button {
  @include button-throw;
  width: 280px;
  height: 55px;
  background-color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 21px;
  font-weight: 700;
  color: $white;
}
