.review__form {
  background-color: $white;
}

.review-form__item {
  width: 100%;
  border: none;

  &--radio {
    display: flex;
    flex-wrap: wrap;
  }

  &--checkbox {
    display: flex;
    flex-wrap: wrap;
  }
}

.review-form__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
}

.review-form__group {
  display: flex;
}

.review-form__label {
  @include font-set(14px, 21px, 400);
  min-width: 170px;
  text-transform: uppercase;
  color: $grey;
}

.review-form__phone {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-from__input-wrapper {
  width: 58px;
}

.review-form__input {
  @include font-set(18px, 26px, 700);
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: $secondary-color;
  color: $black;
  border: none;
}

.review-form__phone-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-phone.svg");
}

.review-form__email {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-form__email-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-email.svg");
}

.review-form__radio {
  height: 55px;
  width: 55px;
}

.review-form__label-radio {
  @include font-set(18px, 26px, 700);
}

.review-form__checkbox {
  height: 46px;
  width: 46px;
}

.review-form__checkbox:checked + label::after {
  display: block;
  position: absolute;
  height: 46px;
  width: 46px;
  background-image: url("../img/icon-tick.svg");
  background-color: $secondary-color;
  background-repeat: no-repeat;
}

.review-form__label-check {
  @include font-set(18px, 26px, 700);
  padding-left: 70px;
  padding-bottom: 25px;
  margin-bottom: -13px;
  margin-top: 22px;
  cursor: pointer;
}

.review-form__label-check::after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  margin-top: -35px;
  height: 46px;
  width: 46px;
  background-color: $secondary-color;
  background-repeat: no-repeat;
  cursor: pointer;
}

.review-form__textarea {
  @include font-set(18px, 26px, 700);
  padding-left: 20px;
  padding-top: 20px;
  min-height: 140px;
  width: 280px;
  background-color: $secondary-color;
}

.review-form__button {
  @include button-throw;
  width: 100%;
  height: 55px;
  background-color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  color: $white;
}
