.review__form {
  align-items: flex-end;
  background-color: $white;
}

.review-form__item {
  width: 100%;
  border: none;
}

.review-form__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
}

.review-form__label {
  @include font-set(14px, 21px, 400);
  min-width: 170px;
  text-transform: uppercase;
  color: $grey;
}

.review-form__phone {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-from__input-wrapper {
  width: 58px;
}

.review-form__input {
  @include font-set(18px, 26px, 700);
  width: 190px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 22px;
  background-color: $secondary-color;
  color: $black;
  border: none;
}

.review-form__phone-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-phone.svg");
}

.review-form__email {
  @include font-set(14px, 21px, 400);
  text-transform: uppercase;
  color: $grey;
}

.review-form__email-icon {
  height: 18px;
  width: 18px;
  background-image: url("../img/icon-email.svg");
}

.review-form__radio {
  height: 55px;
  width: 55px;
}

.review-form__label-radio {
  @include font-set(18px, 26px, 700);
}

.review-form__checkbox {
  height: 46px;
  width: 46px;
  background-color: $secondary-color;
}

.review-form__label-check {
  @include font-set(18px, 26px, 700);
}

.review-form__textarea {
  @include font-set(18px, 26px, 700);
  padding: 22px;
  height: 160px;
  width: 280px;
  background-color: $secondary-color;
}

.review-form__button {
  @include font-set(18px, 26px, 700);
  padding: 22px;
  height: 160px;
  width: 280px;
  text-align: center;
  color: $white;
  background-color: $primary-color;
}
