.social {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 21px;
  padding-left: 78px;
  padding-bottom: 12px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 2px 2px 0 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 5px 0 0;
    width: auto;
  }
}

.social__item {
  margin-right: 3px;
  margin-top: 7px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.social__link {
  display: block;
  height: 46px;
  width: 46px;
  background-color: $primary-color;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--twitter {
    background-size: 23px 20px;
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-size: 14px 25px;
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-size: 24px 19px;
    background-image: url("../img/icon-youtube.svg");
  }
}

.social-link:hover {
  background-color: $active-blue;
  cursor: pointer;
}

.social-link:active {
  background-color: $active-blue;
  cursor: pointer;
}
