.social {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.social__item {
  margin-right: 5px;
  margin-left: 5px;
}

.social__link {
  display: block;
  height: 46px;
  width: 46px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: $primary-color;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-size: 22px 27px;
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-size: 27px 25px;
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-size: 24px 27px;
    background-image: url("../img/icon-youtube.svg");
  }
}
