.social {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.social__item {
  height: 14px;
  width: 18px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: $primary-color;
}

.social__link {
  height: 14px;
  width: 18px;
  text-decoration: none;
  background-repeat: no-repeat;

  &--twitter {
    background-size: 14px 18px;
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-size: 18px 9px;
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-size: 14px 20px;
    background-image: url("../img/icon-youtube.svg");
  }
}
