.video {
  height: auto;
  background-color: $white;
}

.video__intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  text-transform: uppercase;

  .video__intro-title {
    @include font-set(18px, 26px, 700);
    text-align: center;

    @media (min-width: $tablet-width) {
      @include font-set(30px, 26px, 700);
      padding-left: 170px;
      padding-right: 170px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 400px;
      padding-right: 400px;
    }
  }

  .video__intro-text {
    @include font-set(14px, 21px, 400);
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 40%;
    }
  }
}

.video__screen {
  display: flex;
  justify-content: center;
  margin-bottom: -7px;
  padding: 0;
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video__screen img {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.video__player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video__controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.video__drag {
  position: relative;
}

.video__wrapper-controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -60px;
  }
}

.video__wrapper-controls .video__control-item {
  width: 30px;
  height: 30px;
}

.video__control-item {
  @include button-throw;
  display: flex;
  flex-wrap: nowrap;
  background-repeat: no-repeat;
  cursor: pointer;

  &--replay {
    margin-left: 25px;
  }

  &--subtitles {
    margin-left: 130px;
  }

  &--fullscreen {
    margin-left: 30px;
  }
}
