.video {
  height: auto;
  background-color: $white;
  margin-top: -30px;
}

.video__intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0 29px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 73px 0 58px;
  }

  .video__intro-title {
    @include font-set(18px, 26px, 700);
    text-align: center;

    @media (min-width: $tablet-width) {
      @include font-set(30px, 26px, 700);
      padding-left: 170px;
      padding-right: 170px;
    }
    @media (min-width: $desktop-width) {
      padding-left: 400px;
      padding-right: 400px;
    }
  }

  .video__intro-text {
    @include font-set(14px, 21px, 400);
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 60%;
    }

    @media (min-width: $desktop-width) {
      width: 40%;
    }
  }
}

.video__screen {
  display: flex;
  justify-content: center;
  margin-bottom: -7px;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video__screen img {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.video__player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 0;
  }
}

.video__controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.video__controls::after {
  content: "";
  display: block;
  position: absolute;
  top: 38px;
  left: -144px;
  height: 54px;
  width: 288px;
  background-color: rgba(0,0,0,0.5);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.video__timeline {
  display: block;
  position: absolute;
  left: -115px;
  top: 61px;
  height: 3px;
  width: 230px;
  background-color: rgba(255,255,255,0.5);

  @media (min-width: $tablet-width) {
    left: -245px;
    top: 41px;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    left: -270px;
    top: -49px;
    width: 500px;
  }
}

.video__drag {
  display: block;
  position: absolute;
  top: 58px;
  left: -78px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  z-index: 1;

  @media (min-width: $tablet-width) {
    left: -156px;
    top: 37px;
  }

  @media (min-width: $desktop-width) {
    left: -195px;
    top: -52px;
  }
}

.video__wrapper-controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 92px 0 0;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: relative;
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 85%;
  }
  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-top: -91px;
    width: 67%;
  }
}

.video__control-buttons {
  fill: #5c6870;
  @media (min-width: $tablet-width) {
    fill: #ffffff;
  }
}

.video__wrapper-controls .video__control-item {
  width: 30px;
  height: 30px;
}

.video__control-item {
  @include button-throw;
  display: flex;
  flex-wrap: nowrap;
  background-repeat: no-repeat;
  cursor: pointer;

  &--replay {
    position: relative;
    left: -70px;
    @media (min-width: $tablet-width) {
      left: -245px;
    }
    @media (min-width: $desktop-width) {
      left: -320px;
    }
  }

  &--subtitles {
    position: relative;
    left: 50px;
    @media (min-width: $tablet-width) {
      left: 215px;
    }
    @media (min-width: $desktop-width) {
      left: 290px;
    }
  }

  &--fullscreen {
    position: relative;
    left: 81px;
    @media (min-width: $tablet-width) {
      left: 248px;
    }
    @media (min-width: $desktop-width) {
      left: 322px;
    }
  }
}
